div 
{
    box-sizing: border-box;
    width: 100%;
}
.custom-table-wrapper
{
    border: 1.5px solid;
}
.custom-table-wrapper .row
{
    display: flex;
    border-bottom: 1px solid;
}

.custom-table-wrapper .cell
{
    width: 200px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid;
}
.custom-table-wrapper .cell:last-child {
    border-right: none;
}

.custom-table-wrapper .column-title
{
    font-weight: 700;
    border-bottom: 0.5px solid;
    border-right: 1.5px solid;
}
.custom-table-wrapper .column-title:last-child
{
    border-right: none;
}
.custom-table-wrapper .column-title:first-child
{
    border-left: 0.25px solid;
}

.custom-table-wrapper .cell .textbox .text{
    padding: 0 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-width: 0;
}

.custom-table-wrapper .cell .drop-down {
    padding: 0;
}

.custom-table-wrapper .cell .drop-down select {
    padding: 0 2px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
}