.textbox {
    display: flex;
    flex-grow: 1;
    height: 100%;
}

.textbox.error{
    background-color: #ef9d9d;
}

.textbox input
{
    width: 100%;
    background-color: transparent;
}

.textbox .input-field {
    padding: 0 5px;
}

.textbox input {
    padding: 0;
    border: none;
}

.textbox input{
    outline: none;
}