.add-contact
{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;
}

.add-contact-popover
{
    padding: 20px;
}

.add-contact-popover .field
{
    margin-bottom: 15px;
}
.add-contact-popover .field .label
{
    margin-bottom: 5px;
}
.add-contact-popover .textbox
{
    height: 30px;
    border: 1px solid;
    border-radius: 3px;
    display: flex;
    align-items: center;
}

.add-contact-popover .field.status select{
    width: 200px;
    height: 30px;
    border-radius: 4px;
    outline: none;
}