html, body{
    width: 100%;
    height: 100%;
    background-color: #f2f2f2;
}

.app-wrapper{
    display: flex;
    justify-content: center;
}

.contact-list
{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    flex-direction: column;
    align-items: center;
    width: 1200px;
}

.contact-list .textbox
{
    display: flex;
    justify-content: center;
    align-items: center;
}
